@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

body{
    margin: 0;
    background-color: brown;
    font-family: 'Rosarivo', cursive;

}

footer{
    display: flex;
    
}

