@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

body{
    margin: 0;
    background-color: brown;
    font-family: 'Rosarivo', cursive;
    color:antiquewhite;

}

h1{
    font-size: 3em;
    margin-bottom: 0;
}

.header{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.header ul{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    width: 40%;
    gap:30px;
    list-style-type: none;
    padding-left: 0px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer a{
    color: antiquewhite;
}
.main{
    height: 500px;
    /* margin-top: -20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/vesuvio.webp);
    background-position: center;
    background-size: cover;

}

#restaurant-text{

    width: max(400px,70%);
    height: 30%;
    /* margin: auto; */
    margin-top: 150px;
    padding: 40px;
    background-color: rgba(0,0,0,0.8);
    font-size: 1.3em;
}

